<html ng-app='myApp'></html>
<header class="chirp list"></header>



<div class="container">
<div class="chirp-box" >
        
        <div class= "chirpList"></div>
           <h2>{{singleChirp.user}}</h2>
           <h2>{{singleChirp.message}}</h2>
           <h2>{{singleChirp.time}}</h2>
           
</div>
</div>
           
          
                    
            
        
        
        
        
        <nav>
               <button> <a ng-href="#!/">Home</a></button>
               <br>
               <button> <a ng-href="#!/chirps/update">New Chirp</a></button>
             </nav>
        <button>
        <a ng-href = "#!/chirps">Update Chirps</a>
        </button>