<html ng-app='myApp'></html>

<div class="container">
<input type="text" name="user" ng-model= "user"required>user</input>
</div>
<br>
<br>
<div>
<input type="text" name="chirp" ng-model="message" required>message</input>
</div>
<br>
    <button>
        <a ng-click = "addChirp()">Chirp It</a>
    </button>
<br>        
        <nav>
               <button> <a href="#/">Home</a></button>
               <br>
        <button>
        <a href = "#/chirps">Update Chirps</a>
        </button>
      
        </nav>
        
       

